<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwGTCMHlttsvnU_7k6zqUGYWcD6AGMWwY</string>
	<key>GCM_SENDER_ID</key>
	<string>497736261624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adolfocalderon.DevHub</string>
	<key>PROJECT_ID</key>
	<string>devhub-86e9a</string>
	<key>STORAGE_BUCKET</key>
	<string>devhub-86e9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497736261624:ios:f9d04c983bc92157bb000d</string>
</dict>
</plist>